@import "../../scss/effects.scss";
@import "../../scss/variables.scss";

.hero-items {
  width: 100%;
  padding: 0 16px;
  background-color: $main-background-color;

  &:hover {
    background-color: $background-color;
    border: 1px solid $primary-font-color;
  }

  &:first-of-type {
    .hero-body {
      border-top-left-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
    }
  }

  &:last-of-type {
    .hero-body {
      border-top-left-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
      border: none;
    }
  }

  .hero-body {   
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $background-color;
    cursor: pointer;

    @include fade-colors;

    .thumbnail {
      img {
        width: 180px;
        height: 180px;

        border-radius: $default-border-radius;
      }
    }

    .hero-info {
      margin-left: 16px;

      .hero-info-fullname {
        margin: 0;
        display: flex;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .hero-info-name {
        margin: 0;
        margin-bottom: 5px;
        font-size: 24px;
      }

      .btn {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 10px;
    height: auto;
    flex-direction: column;
    justify-content: center;

    .hero-info {
      text-align: center;
      margin: 15px 0;
    }
  }
}
